useDynLib(aftiv)
exportPattern("^[[:alpha:]]+")
importFrom("graphics", "lines", "plot")
importFrom("stats", "as.formula", "coef", "cor", "density", "lm",
           "lm.fit", "model.extract", "model.matrix", "model.offset",
           "model.weights", "optimize", "pchisq", "pnorm",
           "printCoefmat", "qexp", "qnorm", "quantile", "rbinom",
           "resid", "rexp", "rnorm", "runif", "rweibull", "sd",
           "stepfun", "terms", "uniroot", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import("ggplot2")